select{
    background-color: var(--medium-blue);
    border:none;
    font-size:18px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
}
select:focus{
    outline:none !important;
}

@media screen and (max-width:1024px){
    select{
        width:100%;
        font-size: small;
    }
}